pytest==6.1.0
#sleeper-api-wrapper==1.0.7
git+https://github.com/luiscachog/sleeper-api-wrapper.git
schedule==1.1.0
pendulum==2.1.2
requests==2.24.0
prettytable==2.2.0
pandas==1.3.1
google-api-python-client==2.20.0
colorama==0.4.4
pydrive2==1.9.3
beautifulsoup4==4.10.0
yfpy==3.3.1
ff_espn_api==1.1.9
GitPython==3.1.18
Pillow==8.3.2
reportlab==3.6.1
numpy==1.21.2
httplib2~=0.19.1
slackclient==2.9.3
